<form [formGroup]="productUpdateForm" (ngSubmit)="onSubmit()"  >
  <mat-grid-list cols="1" rowHeight="300px" >
    <mat-grid-tile>
      <div>
        <mat-form-field>
          <input formControlName="name" matInput placeholder="{{product.name}}">
          <mat-error>The First Name is required</mat-error>
        </mat-form-field><br>
        <mat-form-field>
          <input formControlName="price" matInput placeholder="{{product.price}}">
          <mat-error>The Last Name is required</mat-error>
        </mat-form-field><br>
        <mat-form-field>
          <input formControlName="quantity" matInput placeholder="{{product.quantity}}">
          <mat-error>The Address is required</mat-error>
        </mat-form-field><br>
        <img class="productImage" [src]="image2" alt="Product Image">
        <input multiple type="file" (change)="onAddImage($event)" formControlName="image" placeholder="image">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <button type="submit" [disabled]="productUpdateForm.invalid" class="button"><span>Update Product</span> <mat-icon class="icon-display">add_box</mat-icon> </button>
</form>
